:root {
    --primary: #8c38ff;
    --light: #eeeeee;
    --dark: #212121;
    --linkHover: #9bebff;
    --h2Color: #1E90FF;
    --table: #000;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fira sans', sans-serif;
}
h2 {
    color: var(--h2Color);
    margin: 1rem 0;
}
h3 {
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem 0 0.5rem 0;
}
/* Navbar */
nav {
    color: var(--light);
    background-color: var(--dark);
    border-bottom: 3px solid var(--primary);
    padding: 0.5rem 3rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;    
}
.logo {
    height: 3.5rem;
    justify-content: left;
}
.hamburger {
    display: block;
    position: relative;
    z-index: 1;
    user-select: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}
.hamburger span {
    background-color: var(--light);
    height: 4px;
    width: 33px;
    margin-bottom: 5px;
    display: block;
    position: relative;
    border-radius: 6px;
    z-index: 1;
    transform-origin: 0 0;
    transition: 0.4s;
}
.hamburger:hover span:nth-child(2) {
    background-color: var(--primary);
    transform: translateX(10px);
}
.hamburger.is-active span:nth-child(1) {
    transform: translate(0px, -2px) rotate(45deg);
}
.hamburger.is-active span:nth-child(2) {
    opacity: 0;
    transform: translateX(15px);
}
.hamburger.is-active span:nth-child(3) {
    transform: translate(-3px, 3px) rotate(-45deg);
}
.hamburger.is-active:hover span {
    background-color: var(--primary);
}
.menu {
    margin: 0 auto;
    display: none;
}
.menu a {
    color: #fff;
    margin: 0 auto;
    text-decoration: none;
    transition: 0.4s;
    padding: 8px 26px;
    border-radius: 99px;
}
.menu a:hover {
    color: var(--linkHover);
}
.menu a.is-active .menu a:hover {
    background-color: var(--primary);
}

/* Main */
.info {
    margin: 10rem 2.5rem;
    padding: 0 2rem;
}
li {
    margin-left: 1rem;
}
.info img {
    margin: 1rem 0;
}
.img1 {
    height: 13rem;
}
.img2 {
    height: 5rem;
}
.img3 {
    height: 3.5rem;
}
.bgChange {
    height: 2rem;
    display: none;
    cursor: pointer;
}
.indent {
    margin-left: 1rem;
}
/* Table */
table {
    margin-bottom: 2rem;
    border: 2px solid var(--table);
}
th {
    color: var(--light);
    background-color: var(--dark);
    padding: 1rem;
    text-align: left;
    border: 2px solid var(--table);
}
tr, td {
    padding: 1rem;
    border: 2px solid var(--table);
}
td:first-child {
    background-color: var(--linkHover);
}

/* Mobile view */
@media(min-width: 850px) {
    .hamburger {
        display: none;
    }
    .menu {
        display: block;
    }
    .bgChange {
        display: block;
    }
}

@media(max-width: 750px) {
.img1 {
    height: 10rem;
    }
}